 .navigasyon {
     text-transform: uppercase;
     font-weight: 500;
     font-family: 'Rubik', sans-serif;
 }
 
 .rubik {
     font-family: 'Rubik', sans-serif;
 }
 
 .logoyani {
     font-family: 'Rubik', sans-serif;
     font-weight: 300;
     font-size: 1.5rem;
 }
 
 .logoyazi {
     font-size: 2rem;
 }
 
 .giris1 {
     background-image: url(trade_bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
 }
 
 i {
     font-size: 2rem;
 }
 
 section.giris2>.row>.card {
     width: 15rem;
 }
 
 html {
     scroll-padding-top: 70px;
 }
 
 .form {
     max-width: 25rem;
 }